<!-- Banner -->
  <div class="banner">
    <div class="img-gradient"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <h1>Alquila un piso directo al propietario</h1><br>
        </div>
      </div>
      <div class="row">
       <div class="col-xs-12 col-md-10 col-md-offset-1">
          <form class="home-form">
           <div class="input-group">
            <input type="text" class="form-control location" placeholder="Location...e.g: Poblenou">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Go!</button>
            </span>

           </div>
         </form>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-grey">
    <div class="container">
      <div class="row">
        <div class="text-center">
        <h2>INQUILINO</h2><br>
        <h4>Ahorra tiempo y dinero</h4>
      </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <h5>Crea tu perfil de inquilino</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi distinctio quia ex praesentium minus dignissimos hic, quasi eveniet at cum, ullam, maxime.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <h5>Encuentra tu pr칩xima casa</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi distinctio quia ex praesentium minus dignissimos hic, quasi eveniet at cum, ullam, maxime.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <h5>Reserva tu cita con el propietario</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi distinctio quia ex praesentium minus dignissimos hic, quasi eveniet at cum, ullam, maxime.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="bg-red">
    <div class="container">
      <div class="row">
        <div class="text-center">
        <h2>PROPIETARIO</h2><br>
          <h4>Alquila m치s r치pido con toda seguridad</h4>
        </div>
        <div class="col-md-4">
          <h5>Crea tu perfil de inquilino</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-4">
          <h5>Encuentra tu pr칩xima casa</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-4">
          <h5>Reserva tu cita con el propietario</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>

