/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #006dcc;
  color: white;
}

.bg-red {
  background: #EB5E28;
  color: white;
}

.bg-dark-blue {
  background: #3b5998;
}

// List group horizontal

.list-group-horizontal {
  .list-group-item {
  display: inline-block;
  margin-bottom: 0;
  margin-left:-4px;
  margin-right: 0;
  border-right:0;
  }
}
// .list-group-horizontal .list-group-item:first-child {
//   border-top-right-radius:0;
//   border-bottom-left-radius:4px;
// }
// .list-group-horizontal .list-group-item:last-child {
//   border-top-right-radius:4px;
//   border-bottom-left-radius:0;
//   border-right:1px solid #ddd;
// }
